.gt li a{
    text-decoration: none;
    padding: 43px;
    color: grey;
    

}
.gt li{
    display: inline-block;
    
}
.gt{
    display: inline-block;
    border: 20px solid rgb(209, 201, 201);
    background-color: rgb(209, 201, 201);   
}
